
@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: auto;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-fixed-regular.ttf') format('truetype'), url('woff2/iosevka-fixed-regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: auto;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/iosevka-fixed-extended.ttf') format('truetype'), url('woff2/iosevka-fixed-extended.woff2') format('woff2');
}


@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: auto;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-fixed-italic.ttf') format('truetype'), url('woff2/iosevka-fixed-italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: auto;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/iosevka-fixed-extendeditalic.ttf') format('truetype'), url('woff2/iosevka-fixed-extendeditalic.woff2') format('woff2');
}


@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: auto;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-fixed-bold.ttf') format('truetype'), url('woff2/iosevka-fixed-bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: auto;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/iosevka-fixed-extendedbold.ttf') format('truetype'), url('woff2/iosevka-fixed-extendedbold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: auto;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-fixed-bolditalic.ttf') format('truetype'), url('woff2/iosevka-fixed-bolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: auto;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/iosevka-fixed-extendedbolditalic.ttf') format('truetype'), url('woff2/iosevka-fixed-extendedbolditalic.woff2') format('woff2');
}
