{# hierarchical navigation #}
{% set crumbtrail = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key) %}
{% if crumbtrail.length > 0 %}
<nav class="breadcrumbs">
    <ul>
        {% for crumb in crumbtrail %}
        <li><a href="{{ crumb.url }}">{{ crumb.title }}</a></li>
        {% endfor %}
        <li>{{ title }}</li>
    </ul>
</nav>
{% endif %}
