{# Page footer #}
<footer class="page">
    <p>
        <a href="https://gitlab.com/FlyingHyrax">GitLab</a> /
        <a href="https://www.linkedin.com/in/matthew-seiler/">LinkedIn</a> /
        <a href="mailto:contact@flyinghyrax.net">Email</a>
    </p>
    <p>
        <!--🎈-->
        Built using <a href="https://www.11ty.dev/">Eleventy</a>&#x1f388;
    </p>
    <a href="#top" aria-label="return to top">↑ return to top ↑</a>
</footer>
