{# Page header #}
<header class="site">
    <h1>flyinghyrax.net</h1>
    <nav class="site">
        <a href="/">home</a>
        <a href="/cv">cv</a>
        <a href="/languages_todo">todo</a>
        <a href="/links">links</a>
        <a href="/posts">posts</a>
    </nav>
</header>
