{% set parent = all_series[series.id] %}
<div class="series-toc">
    <header>This post is part of a series: <i>"{{ parent.title }}"</i></header>
    <ol>
    {% for member in parent.members -%}
        <li {{ "class=current" if loop.index == series.index }}>
        {% if member.rel -%}
            <a href='{{ member.rel }}'>{{ member.name }}</a>
        {%- else -%}
            {{ member.name }} (in progress)
        {%- endif %}
        </li>
    {%- endfor %}
    </ol>
</div>