---
title: Links
layout: layouts/leaf.njk
eleventyNavigation:
  key: Links
  parent: Home
---

{% block head_ext %}
<style>
    #blogroll {
        list-style-type: none;
        padding: 0;
    }

    .blogroll-entry {
        border: 2px solid lightgray;
        border-radius: 3px;
        margin: 1em 0;
        padding: 0.8em 1em;

    }

    .blogroll-entry h2 {
        margin: 0;
        font-size: 1.2rem;
    }
</style>
{% endblock %}

<p>
    Links to some blogs that I've enjoyed reading.
    Not in any particular order.
</p>
<p>
    <a href="./list.opml" download>Download as OPML</a>
</p>
<div>
    <ul id="blogroll">
        {% for entry in following -%}
        <li class="blogroll-entry">
            <h2>{{ entry.title }}</h2>
            <a href="{{ entry.url }}">{{ entry.url}}</a>
            {% if entry.feed -%}
            <a href="{{ entry.feed }}">(feed)</a>
            {%- endif %}
        </li>
        {%- endfor %}
    </ul>
    <div><button id="btn-shuffle">shuffle</button></div>
</div>

<script>
    function swap(xs, i, j) {
        let vi = xs[i];
        let vj = xs[j];
        xs[i] = vj;
        xs[j] = vi;
    }

    // https://stackoverflow.com/a/2450976
    function shuffle(xs) {
        let currentIdx = xs.length;
        while (currentIdx != 0) {
            let randIdx = Math.floor(Math.random() * currentIdx);
            currentIdx--;
            swap(xs, randIdx, currentIdx);
        }
    }

    function reorderLinks() {
        let collection = document.getElementsByClassName("blogroll-entry");
        let container = document.getElementById("blogroll");

        let entriesAsArray  = [...collection];
        shuffle(entriesAsArray);

        while (container.firstChild) {
            container.removeChild(container.firstChild);
        }

        for (let entry of entriesAsArray) {
            container.appendChild(entry);
        }
    }

    const shuffleButton = document.getElementById("btn-shuffle");
    shuffleButton.addEventListener("click", (event) => {
        reorderLinks();
    });
</script>
