---
permalink: "links/list.opml"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<opml version="2.0">
    <head>
        <title>blogroll - flyinghyrax.net</title>
        <dateModified>{{ page.date | dateFormat('ddd, dd mmm yyyy HH:MM:dd Z') }}</dateModified>
        <docs>http://opml.org/spec2.opml</docs>
    </head>
    <body>
        {% for entry in following %}
        <outline
            type="rss"
            text="{{ entry.title }} - {{entry.author}}"
            title="{{ entry.title }} - {{entry.author}}"
            htmlUrl="{{ entry.url }}"
            xmlUrl="{{ entry.feed }}" />
        {% endfor %}
    </body>
</opml>
