{# invoke nunjcuks template inheritance, NOT 11ty layout chaining #}
{% extends 'layouts/root.njk' %}

{# Add page-specific CSS to <head/> #}
{% block head_ext %}
    <link rel="stylesheet" href="/css/cv.css">
{% endblock %}
