{# invoke nunjcuks template inheritance, NOT 11ty layout chaining #}
{% extends 'layouts/root.njk' %}

{# leaf pages benefit from including breadcrumb navigation #}
{% block page_header %}
    {% include 'components/global_header.njk' %}
    {% include 'components/breadcrumb_nav.njk' %}
{% endblock %}

{% block page_content %}
    <main id="content">
        {{ content | safe }}
    </main>
{% endblock %}
