{# invoke nunjcuks template inheritance, NOT 11ty layout chaining #}
{% extends 'layouts/root.njk' %}

{# posts will often use code blocks, so add styles for PrismJS to head #}
{% block head_ext %}
    <link rel="stylesheet" href="/css/prism-one-daynight.css">
{% endblock %}

{# posts benefit from including breadcrumb navigation #}
{% block page_header %}
    {% include 'components/global_header.njk' %}
    {% include 'components/breadcrumb_nav.njk' %}
{% endblock %}

{# posts usually have a clear title to put at the top of the content #}
{% block page_content %}
    <main id="content">
        <header class="page">
            <h1>{{ title }}</h1>
			<time datetime="{{ date }}">{{ date | dateFormat("dd mmm yyyy") }}</time>
        </header>
        {{ content | safe }}
    </main>
{% endblock %}
