{# A root layout with blocks we can override via nunjucks template inheritance #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>{{ title }}</title>

    <meta name="author" content="Matthew Seiler">
    <meta name="description" content="{{ title }} - {{ summary }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="canonical" href="https://www.flyinghyrax.net{{ page.url }}"/>

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/fonts/noto.css">
    
    {% block head_ext %}{% endblock %}
</head>
<body>
    {# Skip link #}
    <a href="#content" class="skip-link"> Skip to main content</a>
    {% block page_header %}
    {% include 'components/global_header.njk' %}
    {% endblock %}
    
    {% block page_content %}
    <main id="content">
        {# 
        this content var is populated by 11ty when you use 11ty layout 
        chaining but is not used by nunjucks template inheritance
        #}
        {{ content | safe }}
    </main>
    {% endblock %}
    
    {% block page_footer %}
    {% include 'components/global_footer.njk' %}
    {% endblock %}
</body>
</html>
