/* 
The CV is styled differently than most/all other pages so it gets its own stylesheet file.
This page is long and information dense; reducing the font sizes and header spacing makes
things more compact and also helps with printing (where we shrink even further to save pages!)
*/


/* reduce header spacing */
h1, h2, h3, h4 {
    margin-top: 1em;
    margin-bottom: 0;
    padding-bottom: 0.2em; 
}

/* add light yellow border to major section headers */
section > h2 {
    border-bottom: 2px solid #ffd678;
}

/* remove some spacing from headers for bulletted lists */
h4.list-header {
    margin-top: 0.5rem;
}

/* use horizontal flexbox for each item header so e.g. title and employer go in the same row */
section div.item-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    border-bottom: 2px dotted var(--border);
}

/* add a separator between item header elements */
section#work div.employer::before,
section#school div.school::before {
    content: "\02014 ";
    padding: 0 0.3rem;
}

/* use flexbox to lay out additional item information in a horizontal row */
section div.item-info {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 0.3em 0;
}

/* add separators between info items */
section div.item-info > div:not(:last-child)::after {
    content: "/";
    padding: 0 0.5rem;
}

/* remove some vertical spacing from bulleted lists */
ul {
    margin-top: 0;
    list-style-type: square;
}

/* the contact section is layed out with a little more spacing and uses flexbox to arrange
   the 2 subsections responsively - they stack vertically if there's not enough width
 */
section#contact {
    line-height: 1.8em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
}

section#contact ul {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
}

section#contact svg.bi {
    margin-right: 5px;
}

section#general ul {
    list-style: "\2794";
}

section#general ul li {
    padding-left: 0.5rem;
}

@media print {
    
    /* suggest margins */
    @page {
        margin: 2.0cm 1.5cm;
    }
    
    /* Things to hide */
    .noprint {
        display: none;
    }

    /* usual link styles are kinda pointless in print; remove them and add little quotes instead */
    a {
        text-decoration: none;
    }

    a::before {
        content: "‹"
    }

    a::after {
        content: "›";
    }
    
    /* hide global header and footer */
    footer.page, header.site, nav.breadcrumbs {
        display: none;
    }
    
    /* I haven't finished the Projects section, so don't print it*/
    section#code {
        display: none;
    }
    
    /* Since we don't have a global header, add underline to page h1 */
    h1#myname {
        margin-top: 0;
        border-bottom: 3px solid var(--accent);
    }

    /* shrink body text font size and line height; this is the primary thing
       that reduces the printed page count
     */
    body {
        font-size: 0.8rem;
        line-height: normal;
    }

    /* shrink most headers */

    h2 {
        font-size: 1.2rem;
    }

    h3 {
        font-size: 1.0rem;
    }

    h4 {
        font-size: 0.8rem;
        margin-top: 0.2em;
    }
    
    ul {
        /* drop spacing after lists */
        margin-bottom: 0;
        /* shift lists to the left */
        padding-left: 1.2rem;
    }

    /* page break suggestions */

    .nobreak {
        break-inside: avoid;
    }
    
    ul.grouplines {
        widows: 3;
        orphans: 3;
    }
}
