/* Copied from:
   <https://github.com/kevquirk/simple.css> 
   1ffda4be8d276f7ec71963718ee9b00eb962f052

   Modified and annotated.
 */

/* Global variables. 
   (CSS has variables now?!)
 */
:root {
  --sans-font: "Noto Sans", Arial, Helvetica, "Helvetica Neue", sans-serif;
  --mono-font: "Noto Sans Mono", monospace;

  /* Default (light) theme */
  --bg: rgb(253, 253, 253);
  --accent-bg: #f5f7ff;
  --text: #212121;
  --text-light: #585858;
  --border: #d8dae1;
  --accent: #ffb300;
  --preformatted: #444;
  --marked: #ffe97d;
  --disabled: #efefef;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #212121;
    --accent-bg: #2b2b2b;
    --text: #dcdcdc;
    --text-light: #ababab;
    --border: #666;
    --accent: #ffb300;
    --preformatted: #ccc;
    --disabled: #111;
  }

  /* Add a bit of transparancy so light media isn't so glaring in dark mode */
  img,
  video {
    opacity: 0.8;
  }
}

html {
  /* Set the font globally */
  font-family: var(--sans-font);
  font-stretch: normal;
  scroll-behavior: smooth;
}

/* Make the body a nice central block */
body {
  color: var(--text);
  background: var(--bg);
  /* font-size: 1.15rem; */
  line-height: 1.5;
  /* ooOOooo CSS grid! */
  display: grid;
  grid-template-columns:
    1fr min(50rem, 90%) 1fr;
  margin: 0;
}

body>* {
  grid-column: 2;
  padding: 0 8px;
}

header.site {
  padding: 0 8px;
  box-sizing: border-box;
  
  display: flex;
  /* layout the main axis horizontally */
  flex-direction: row;
  /* wrap if the row overflows its parent */
  flex-wrap: wrap;
  /* horizontal (main axis) spacing */
  justify-content: space-between;
  /* vertical (cross-axis) alignment */
  align-items: center;

  border-bottom: 3px solid var(--accent);
}

header.site>* {
  margin: 8px 0 4px 0;
}

header.site h1 {
  font-size: 1.2rem;
  line-height: inherit;
  padding: 0 4px;
}

nav.site {
  font-size: 1rem;
}

nav.site>* {
  display: inline-block;
  margin-left: 1rem;
  padding: 0 4px;
}

nav.site a {
  font-weight: bold;  
}


header.page {
  margin: 52px 0 16px 0;
}

header.page h1 {
  margin: 0;
}

footer {
  margin-top: 64px;
  padding: 16px;
  color: var(--text-light);
  font-size: 0.9rem;
  text-align: center;
  border-top: 3px solid var(--accent);
}

/* Format headers */
h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.2rem;
}

h4, h5, h6 {
  font-size: 1.0rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: 1.5em;
}

/* Fix line height when title wraps */
h1,
h2,
h3 {
  line-height: 1.1;
}


/* Format links & buttons */
a,
a:visited {
  color: var(--text);
  text-decoration: underline;
  text-decoration-color: var(--border);
  text-decoration-thickness: 0.12rem;
}

a:hover,
a:focus {
  text-decoration-color: var(--accent);
}

/* Set the cursor to '?' while hovering over an abbreviation */
abbr {
  cursor: help;
}

/* breadcrumbs */
nav.breadcrumbs ul {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: flex-start;
  padding-left: 0;
  margin: 0.3rem 0 0.3rem 0.3rem;
  font-size: small;
}

nav.breadcrumbs li {
  padding-right: 0.5rem;
}

nav.breadcrumbs li::before {
  content: "/";
  padding-right: 0.5rem;
}

p {
  margin-bottom: 1.2em;
}

/* Format the expanding box */
details {
  background: var(--accent-bg);
  border: 2px solid var(--border);
  margin-bottom: 1rem;
}

summary {
  cursor: pointer;
  font-weight: bold;
  padding: 0.6rem 1rem;
}

details[open] {
  padding: 0.6rem 1rem 0.75rem 1rem;
}

details[open] summary {
  margin-bottom: 0.5rem;
  padding: 0;
}

details[open]>*:last-child {
  margin-bottom: 0;
}

/* Format tables */
table {
  border-collapse: collapse;
  /* width: 100%; */
  margin: 1.5rem 0;
}

td,
th {
  border: 2px solid var(--border);
  text-align: left;
  padding: 0.5rem;
}

th {
  background: var(--accent-bg);
  font-weight: bold;
}

tr:nth-child(even) {
  /* Set every other cell slightly darker. Improves readability. */
  background: var(--accent-bg);
}

table caption {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

/* Misc body elements */
hr {
  color: var(--border);
  border-top: 1px;
  margin: 1rem auto;
}

mark {
  padding: 2px 5px;
  background: var(--marked);
}

main img,
main video {
  max-width: 100%;
  height: auto;
  border: 2px solid var(--border);
}

figure {
  margin: 0;
}

figcaption {
  font-size: 0.9rem;
  color: var(--text-light);
  text-align: center;
  margin-bottom: 1rem;
  padding: 0 2rem;
}

blockquote {
  margin: 1rem 0 2rem 1rem;
  padding: 0.01rem 1rem;
  border-left: 2px solid var(--accent);
  color: var(--text-light);
  font-style: italic;
}

cite {
  font-size: 0.9rem;
  color: var(--text-light);
  font-style: normal;
}

/* Use mono font for code elements */
code,
pre,
pre span,
kbd,
samp {
  font-family: var(--mono-font);
  font-stretch: expanded;
  color: var(--preformatted);
  
}

kbd {
  border: 1px solid var(--preformatted);
  border-bottom: 3px solid var(--preformatted);
  padding: 0.1rem;
}

pre {
  padding: 1rem 1.4rem;
  max-width: 100%;
  overflow: auto;
  overflow-x: auto;
  background: var(--accent-bg);
  border: 2px solid var(--border);
}

/* Skip link positioning
   https://developer.mozilla.org/en-US/docs/Web/HTML/Element/a#skip_links
 */
.skip-link {
  position: absolute;
  top: -3em;
  background: #fcf972;
}
.skip-link:focus {
  top: 0;
}

/* List of posts w title, summary, and date for each */

ul.post-summary {
  list-style-type: none;
  padding-left: 0;
}

li.post-summary {
  display: block;
  background: var(--accent-bg);
  border: 1px solid var(--border);
  padding: 0.5rem 1rem;
  margin: 1rem 0;
}

.post-summary > h4 {
  margin: 0;
}

.post-summary > p {
  margin: 0;
}

.post-summary > time {
  display: inline-block;
  margin-top: 0.5rem;
  font-size: small;
}

.post-summary-tags {
  font-size: small;
  margin-top: 0.5rem;
  float: right;
}

.post-summary-tags ul {
  list-style-type: none;
  display: inline-block;
  padding-left: 0;
}

.post-summary-tags li {
  display: inline-block;
}

.post-summary-tags li:not(:first-child)::before {
  content: "| "
}


/* Unordered list of tags */

ul.tag-list {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: flex-start;
  padding-left: 0;
  margin: 0;
}

li.tag-list {
  font-size: small;
  background: var(--accent-bg);
  border: 1px solid var(--border);
  padding: 0.2rem 0.3rem;
  margin: 0.2rem;
}

/* Applied to `a` elements inside headers generated by "markdown-it-anchor"
 <https://github.com/valeriangalliat/markdown-it-anchor#header-link>
 Remove the default decorations applied to links, and set a custom color
*/
.header-anchor {
  text-decoration: none;
  color: var(--text);
}

/* These next ones are to 'undo' customizations made in the `a` class */
.header-anchor:visited {
  color: var(--text);
}

.header-anchor:hover, 
.header-anchor:focus {
  background-color: initial;
  border-radius: initial;
}

/* Nifty trick to show a link symbol next to the header text on hover -
 shamelessly stolen from <https://www.codejam.info/> (primary author
 of "markdown-it-anchor").
*/
.header-anchor:hover::before,
.header-anchor:focus::before {
  content: '#';
  position: relative;
  float: left;
  left: -1.2ch;
  width: 0;
  height: 0;
  color: var(--accent);
  
}

/* Posts index table styling */

.post-list table {
  border: 1px solid var(--border);
  width: 100%;
}

.post-list thead th {
  border: none;
  border-bottom: 2px solid var(--border);
}

.post-list tbody tr {
  background: none;
}

.post-list tbody td {
  border: none;
  border-bottom: 1px solid var(--border);
  min-width: 10em;
}

@media only screen and (max-width: 720px) {
  .post-list tbody td {
      min-width: auto;
  }
}

.post-list tbody td:last-child {
  padding-right: 8px;
}

.post-list .year-split {
  margin: 0;
  margin-top: 0.5em;
  border-bottom: dotted 1px lightgray;
  font-size: 1.4em;
}

.post-list .month-split {
  margin: 0;
  margin-top: 0.5em;
  border-bottom: dashed 1px lightgray;
  font-size: 1.2em;
}

/* series member mini-tocs / navs */

div.series-toc {
  border: solid 1px var(--border);
  
}

.series-toc header {
  display: block;
  grid: unset;
  padding: 0.5em;
}

.series-toc li.current>a {
  font-weight: bold;
}

.series-toc li.current::after {
  content: "← you are here";
  font-size: small;
}

/* bootstrap svg icons */

svg.bi {
  display: inline-block;
  height: 1em;
  width: 1em;
  vertical-align: -0.125em;
  fill: currentcolor;
}
