---
title: Posts by Date
layout: layouts/leaf.njk
eleventyNavigation:
  key: Posts
  parent: Home
---

<div class="post-list">
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            {% for post in collections.post | reverse -%}
            {%- if not post.data.draft -%}
                <tr>
                    <td>{{ post.date | dateFormat('yyyy mmm dd') }}</td>
                    <td><a href="{{ post.url }}">{{ post.data.title }}</a></td>
                </tr>
            {%- endif -%}
            {%- endfor %}
        </tbody>
    </table>
</div>
