---
layout: layouts/cv.njk
title: CV
eleventyNavigation:
  key: CV
  parent: Home
---

<!--
    Hi there! This HTML is generated from a Nunjucks template;
    I've tried to keep the output readable, but if indentation or formatting appears off,
    that is why. You can find the template source on my GitLab.
-->

<!--
    I'm using a wrapping div with a particular class as one way of applying some styles to *only*
    the CV and not other site pages. Presently the CV styles are also in their own stylesheet, so
    this is probably no longer necessary.
-->
<div class="compact">
<h1 id="myname">{{ contact.name }}</h1>

<!--
    My contact information and web presence.
    Fancy SVG icons are from Bootstrap!
    Note that phone and email may be actually dummy values that are overwritten by JS -
    see the bottom of the <body/> - to make automated contact scraping harder.
-->
<section id="contact">
    <div>
        <h3>Contact</h3>
        <ul>
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" aria-label="Name" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                </svg>
                <span>he/him</span>
            </li>
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" aria-label="Location" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                    <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                    <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg>
                <span>{{ contact.location }}</span>
            </li>
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" aria-label="Email" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                </svg>
                <span id="email">{{ contact.email }}</span>
            </li>
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" aria-label="Phone" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                    <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                </svg>
                <span id="phone">{{ contact.phone }}</span>
            </li>
        </ul>
    </div>
    <div>
        <h3>Links</h3>
        <ul>
            {% for site in web -%}
            <li>
                {% if site.icon %}
                {{ site.icon | safe }}
                {% else %}
                <svg xmlns="http://www.w3.org/2000/svg" aria-label="Link" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
                    <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
                    <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"/>
                </svg>
                {% endif %}
                <span>{{ site.name }} : <a href="{{ site.url }}">{{ site.url }}</a></span>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>

{% if general -%}
<!--
    General selling points
-->
<section id="general">
    <h2>Skills &amp; Strengths</h2>
    <ul>
    {%- for thing in general %}
        <li>{{ thing }}</li>
    {%- endfor %}
    </ul>
</section>
{%- endif %}

{% if experience -%}
<!--
    Work experience items are created from YAML data using the combination
    of eleventy page data and Nunjucks; an outer loop for each job and
    inner loops for the bulleted lists.

    To keep the printed resume short enough, I hide the last few work experience
    items for the 'print' media query, so there are old jobs that appear in a
    web browser that will not appear when printing the page.

    The 'nobreak' class adds 'break-inside: avoid' when printing, to discourage
    the browser's print renderer from splitting a group of lines across pages.
    Not all browsers respect it, but it works in Chromium/Vivaldi, which is enough
    for me to print and save PDF versions myself.

    'grouplines' adds 'widows' and 'orphans' CSS options when printing, to discourage
    the browser's print renderer from leaving single list items by themselves at the
    top of a new page.
-->
<section id="work">
    <h2>Experience</h2>
    {%- for job in experience %}

    <!-- #{{ loop.index }}-->
    <div>
        <div class="nobreak">
            <div class="item-header">
                <h3 class="job-title">{{ job.title }}</h3>
                <div class="employer">{{ job.employer }}</div>
            </div>
            <div class="item-info">
                <div class="location">{{ job.location }}</div>
                <div class="time">{{ job.duration }}</div>
            </div>
        </div>

        <div class="nobreak">
            <h4 class="list-header">Roles &amp; Responsibilities</h4>
            <ul class="tasks grouplines">
            {%- for line in job.description %}
                <li>{{ line }}</li>
            {%- endfor %}
            </ul>
        </div>
    </div>
    {%- endfor %}
</section>
{%- endif %}

{% if code and False -%}
<!--
    This is an important section IMO, but the projects themselves aren't in much of a state yet.
    I need to fix the links regardless. Rendering the section in the browser to hopefully
    embarass myself into finially finishing the section.
-->
<section id="code">
    <h2>Sample Code</h2>
    <p>
        <strong><mark>a happy little work in progress</mark></strong>
    <p>
    {%- for project in code %}
    <div>
        <h3 class="project-title">{{ project.name }}</h3>
        <a href="{{ project.url }}">{{ project.url }}</a>
        <p>{{ project.description }}</p>
        <ul class="tech">
            {%- for item in project.highlights %}
            <li>{{ item }}</li>
            {%- endfor %}
        </ul>
    </div>
    {%- endfor %}
</section>
{%- endif %}

{% if education -%}
<!--
    This section works largely the same as the work experience one,
    just with slightly different layout for more or less info.
    Added noprint to the oldest degree (associates) to save page space.
-->
<section id="school">
    <h2>Education</h2>
    {%- for degree in education %}

    <!-- #{{ loop.index }} -->
    <div{{ 'class=noprint' if loop.index > 2 }}>
        <div class="nobreak">
            <div class="item-header">
                <h3 class="degree-title">{{ degree.degree }}</h3>
                <div class="school">{{ degree.school }}</div>
            </div>
            <div class="item-info">
                <div class="location">{{ degree.location }}</div>
                <div class="time">{{ degree.date }}</div>
                <div class="gpa">{{ degree.gpa }} GPA</div>
            </div>
        </div>

        {% if degree.highlights -%}
        <div class="nobreak">
            <h4 class="list-header">Highlights</h4>
            <ul class="highlights grouplines">
                {%- for thing in degree.highlights %}
                <li>{{ thing }}</li>
                {%- endfor %}
            </ul>
        </div>
        {%- endif %}
    </div>
    {%- endfor %}
</section>
{%- endif %}
</div>

<!--
    I want to have usable contact information on the web page, and NEED to have it
    when printing to PDF for distribution, but don't want my phone and email being
    scraped by bots if I can avoid it.

    I found this method with some web searching, it is reproduced with small variations
    in several places. The idea is to just wait a bit after the page has loaded, then
    add the 'a' elements with real info dynamically. Human users won't even see the delay
    and it still works when printing, but a bot (at least the dumb ones) get the stale
    "hard coded" values.
-->
<script>
    let createLink = (parentId, href, text) => {
        let parent = document.getElementById(parentId);
        parent.textContent = '';

        let link = document.createElement('a');
        link.href = href;
        link.textContent = text;

        parent.appendChild(link);
    };

    let replaceContactLinks = () => {
        createLink('phone', 'tel:12027431276', '202-743-1276');
        createLink('email', 'mailto:contact@flyinghyrax.net', 'contact@flyinghyrax.net');
    };

    document.addEventListener('DOMContentLoaded', () => {
        setTimeout(replaceContactLinks, 200);
    });
</script>