---
layout: layouts/root.njk
title: Matthew Seiler
eleventyNavigation:
  key: Home
---

<section>
	<h2>About Me</h2>
	<p>
		My name is Matthew Seiler and I'm a software engineer in Virginia, USA. 
		This is my personal web site! 
		I practice CSS here and occasionally write something.
	</p>
	<ul>
		<li>
			Projects on <a href="https://gitlab.com/FlyingHyrax">GitLab</a> &amp; 
			<a href="https://github.com/flyinghyrax">GitHub</a>
		</li>
		<li>Profile on <a href="https://www.linkedin.com/in/matthew-seiler/">LinkedIn</a></li>
		<li>Resume / CV <a href="/cv">right here</a></li>
	</ul>
</section>
<section>
	<h3>Recent Posts</h3>
	<ul class="post-summary">
	{% for post in collections.recent %}
		<li class="post-summary">
			<h4><a href="{{ post.url }}">{{ post.data.title }}</a></h4>
			<p>{{ post.data.summary }}</p>
			<time datetime="{{ post.date }}">{{ post.date | dateFormat("dd mmm yyyy") }}</time>
			<div class="post-summary-tags">
				<ul>
					{% for tag in ( post.data.tags | interestingTags ) %}
					<li>{{ tag }}</li>
					{% endfor %}
				</ul>
			</div>
		</li>
	{% endfor %}
	</ul>
	<p>
		<a href="/posts">All Posts</a>
	</p>
</section>
<section>
	<h3>Tags</h3>
	<ul class="tag-list">
	{% for tag in (collections | interestingTags) %}	
		<li class="tag-list">
			<a href="/tags#{{ tag | slugify }}">{{ tag }}</a>
			({{ collections[tag] | length }})
		</li>
	{% endfor %}
	</ul>
	<p>
		<a href="/tags">All Tags</a>
	</p>
</section>
