---
layout: layouts/leaf.njk
title: Posts by Tag
eleventyNavigation:
  key: Tags
  parent: Posts
---

{% for tag in (collections | interestingTags) %}
<section>
    <h2 id="{{ tag | slugify }}">#{{ tag }}</h2>
    <ul>
    {% for post in collections[tag] %}
    {% if not post.data.draft %}
        <li>
            <a href="{{ post.url }}">{{ post.data.title }}</a>
        </li>
    {% endif %}
    {% endfor %}
    </ul>
</section>
{% endfor %}
